body {
    font-family: "Barlow", sans-serif;
    color: #2A4A5C;
}

/* Background */

.container {
    display: flex;
    padding: 60px 40px;
    background-color: #eff6ff;
}


/* .logo__img {
    position: relative;
    top: 50px;
    left: 50px;
} */

.bg-wrapper {
    width: 49%;
    background: url("../img/logo.svg") 50px 50px/ 150px auto no-repeat, url("../img/bg.jpg") 0 0/ auto 100% no-repeat;

}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 90px 0;
    width: 50%;
    background-color: #fff;
}

/* "Get" Header */

.header1 {
    margin-left: 50px;
    margin-bottom: 40px;
}

.header {
    font-weight: 500;
    font-size: 30px;
}

.subheader,
.subheader_2 {
    font-size: 15px;
    font-weight: 400;
    color: #7B8A92;
}

/* FB & IN Buttons */
.buttons-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}


.fb__img,
.In__img {
    float: left;
    width: 20px;
    height: 38px;
    background-color: #255a9b;
}

.face__btn,
.In__btn {
    width: 200px;
    border: none;
    line-height: 3;
    background-color: #255a9b;
    color: #FFFFFF;
    cursor: pointer;
}

.In__img {
    background-color: #0076b6;
}

.In__btn {
    background-color: #0076b6;
}

/* OR decoration */

.decoration {
    margin-bottom: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    font-weight: 400;
}

.decoration:before,
.decoration:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 1px;
    background-color: #eeeeee;
    position: relative;
}

.decoration:before {
    margin-left: -100%;
    left: -10px;
}

.decoration:after {
    margin-right: -100%;
    right: -10px;
}

/* Email & tel input */

.forms-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.email__input,
.phone__input {
    height: 25px;
    width: 170px;
    font-weight: 400;
    border: 1px solid #eeeeee;
}

.email__input:hover {
    border-left: 1px solid #3698fb;
}


.phone__input:hover {
    border-left: 1px solid #3698fb;
}

/* "What" header */

.header2 {
    margin-left: 50px;
    margin-bottom: 64px;
}

.header_2 {
    font-size: 23px;
    font-weight: 500;
}


/* Radio Label */

.radio {
    display: flex;
    margin-left: 50px;
    margin-bottom: 100px;
}

.radio__first,
.radio__second,
.radio__third,
.radio__four {
    margin-right: 30px;
    font-weight: 500;
    cursor: pointer;
}

/* Radio Individual */

.hidden__descr {
    display: none;
    position: absolute;
    padding: 10px;
    width: 255px;
    top: 720px;
    left: 855px;
    font-weight: 400;
    font-size: 15px;
    color: #7B8A92;
    box-shadow: 1px 5px 25px -2px rgb(0 0 0 / 20%);
}

.radio__first:hover .hidden__descr,
.radio__second:hover .hidden__descr,
.radio__third:hover .hidden__descr,
.radio__four:hover .hidden__descr {
    display: block;
}

/* checkbox */

.terms-wrapper {
    margin-left: 50px;
    margin-bottom: 40px;
}

.terms {
    font-weight: 300;
    font-size: 10px;
    cursor: pointer;
}

/* checkbox link*/

.terms__link {
    padding-left: 1px;
    font-weight: 300;
    font-size: 10px;
    color: #3698FB;
}

.terms__link:link {
    color: #3698FB;
}

.terms__link:visited {
    color: purple;
}

.terms__link:hover {
    color: #3698FB;
}

.terms__link:active {
    color: black
}

/* Create button */

.create-btn {
    margin-left: 50px;
    height: 40px;
    width: 200px;
    background-color: #3698fb;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}