body {
    font-family: "Barlow", sans-serif;
    color: #2A4A5C;
}

/* Background */

.container {
    background-color: #eff6ff;
    padding: 40px;
    height: 1000px;
}

.main {
    background-color: #fff;
    height: 1000px;
}

.bg_image {
    position: relative;
    float: left;
    z-index: 0;
}

.logo_wrapper {
    position: absolute;
    padding: 0 40px;
    z-index: 1;
}

.logo_img {
    width: 140px;
    height: 100px;
}

/* "Get" Header */

.header {
    margin: 0;
    margin-left: 800px;
    padding-top: 100px;
    font-weight: 500;
    font-size: 30px;
}

.subheader,
.subheader_2 {
    margin: 0;
    margin-left: 800px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 400;
    color: #7B8A92;
}

/* FB & IN Buttons */

.fb_img,
.In_img {
    float: left;
    width: 20px;
    height: 38px;
    background-color: #255a9b;
}

.face_btn,
.In_btn {
    display: inline-block;
    padding-left: 8px;
    margin-left: 35px;
    margin-bottom: 30px;
    margin-top: 80px;
    width: 200px;
    border: none;
    line-height: 3;
    background-color: #255a9b;
    color: #FFFFFF;
    cursor: pointer;
}

.In_img {
    background-color: #0076b6;
}

.In_btn {
    padding-left: 12px;
    margin-left: 20px;
    background-color: #0076b6;
}

/* OR decoration */

.decoration {
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    font-weight: 400;
}

.decoration:before,
.decoration:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 1px;
    background-color: #eeeeee;
    position: relative;
}

.decoration:before {
    margin-left: -100%;
    left: -10px;
}

.decoration:after {
    margin-right: -100%;
    right: -10px;
}

/* Email & tel input */

.email_input,
.phone_input {
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-left: 35px;
    height: 25px;
    width: 170px;
    font-weight: 400;
    border: 1px solid #eeeeee;
}

.email_input:hover {
    border-left: 1px solid #3698fb;
}

.phone_input {
    margin-left: 30px;
}

.phone_input:hover {
    border-left: 1px solid #3698fb;
}

/* "What" header */

.header_2 {
    margin: 0;
    margin-left: 800px;
    margin-top: 85px;
    font-size: 23px;
    font-weight: 500;
}

.subheader_2 {
    margin-bottom: 50px;
}

/* Radio Label */

.radio_label_1,
.radio_label_2,
.radio_label_3,
.radio_label_4 {
    padding-left: 30px;
    font-weight: 500;
    cursor: pointer;
}

/* Radio Individual */

.hidden_1,
.hidden_2,
.hidden_3,
.hidden_4 {
    display: none;
    position: absolute;
    padding: 10px;
    width: 255px;
    top: 700px;
    right: 240px;
    font-weight: 400;
    font-size: 15px;
    color: #7B8A92;
    box-shadow: 1px 5px 25px -2px rgb(0 0 0 / 20%);
}

.radio_label_1:hover .hidden_1 {
    display: block;
}

/* Radio Business */

.hidden_2 {
    right: 167px;
}

.radio_label_2:hover .hidden_2 {
    display: block;
}

/* Radio IRA */

.hidden_3 {
    right: 84px;
}

.radio_label_3:hover .hidden_3 {
    display: block;
}

/* Radio Trust */

.hidden_4 {
    right: 51px;
}

.radio_label_4:hover .hidden_4 {
    display: block;
}

/* checkbox */

.terms_wrapper {
    margin-left: 800px;
    margin-top: 140px;

}

.terms {
    font-weight: 300;
    font-size: 10px;
    cursor: pointer;
}

/* checkbox link*/

.terms_link {
    padding-left: 1px;
    font-weight: 300;
    font-size: 10px;
    color: #3698FB;
}

.terms_link:link {
    color: #3698FB;
}

.terms_link:visited {
    color: purple;
}

.terms_link:hover {
    color: #3698FB;
}

.terms_link:active {
    color: black
}

/* Create button */

.create_btn {
    margin-top: 65px;
    margin-left: 40px;
    height: 40px;
    width: 200px;
    background-color: #3698fb;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}